/*FONTES*/
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Rammetto+One&display=swap');

@font-face {
    font-family: 'Mojangles';
    src: url(Mojang-Regular.woff2);
}

/*nome: font-family: "Rammetto One", sans-serif;*/
/*nome: font-family: "Comic Neue", cursive;*/
/*/FONTES*/
/*TODO O SITE*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("imagens/Sugar Cane.png");
    display: flex;
}

/*/TODO O SITE*/
/*BODY - Header*/
section {
    align-items: center;
}

header {
    width: 17vw;
    height: 104vh;
    position: sticky;
    background-color: darkblue;
    margin-right: 1vw;
    border: 10px solid transparent;
    border-image: linear-gradient(to bottom, darkblue, black) 1;
}

header a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding-top: 5%;
    font-size: 25px;
    font-family: "Comic Neue", cursive;
}

header h1 {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding-top: 5%;
    font-size: 25px;
    font-family: "Rammetto One", sans-serif;
}


/*/BODY - Header*/
/*/BODY - Início do site de verdade*/

#corpo {
    color: aliceblue;
    text-align: center;
    padding-top: 5%;
    font-size: 20px;
}

#corpo h1,
h2 {
    font-family: 'Mojangles';
    font-weight: 100;
}

#corpo h3 {
    font-family: "Comic Neue", cursive;
    padding-right: 1vw;
}

#imagem-exemplo img{
    width: 250px;
    height: 250px;
}

/*SECTION - PIMRARY FIRES*/

#scout-section{
    display: flex;
    flex-direction: row;
}

#scout-section img{
    width: 300px;
    height: 250px;
}

#scout-section h3{
    letter-spacing: 1.2px;
    
}
/*/SECTION - PIMRARY FIRES*/
/*/BODY - Início do site de verdade*/